.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  max-width: 200;
}

.nav-items {
  padding: 0px 50px;
}

.nav-items > ul {
  font-size: 24px;
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  margin: 20px;
  padding: 3px;
  max-width: 260px;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}
.search {
  padding: 10px;
}

.res-logo {
  width: 100%;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  display: flex;
  justify-content: center;
  margin: 25px;
  width: 260px;
  height: 500px;
  background-color: #f0f0f0;
}

.shimmer-card-bottom {
  margin-top: 20px;
  width: 240px;
  height: 290px;
  background-color: #e6e6e6;
  border-radius: 3%;
}

.login {
  padding: 0 20px;
  cursor: pointer;
}

.filter {
  display: flex;
}
